    * {
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
        background: rgb(238, 174, 202);
        background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        box-sizing: border-box;
    }
    
    .container {
        margin: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container form {
        width: 1000px;
        height: 1500px;
        display: flex;
        justify-content: center;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(225, 225, 225, 0.1);
        backdrop-filter: blur(10px);
        flex-wrap: wrap;
    }
    
    .chiffres_romains {
        list-style-type: upper-roman;
        padding-left: 50px;
    }
    
    .container form h1 {
        text-align: center;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 25px;
    }
    
    .container form input {
        width: 290px;
        height: 40px;
        padding-left: 10px;
        outline: none;
        border: none;
        font-size: 15px;
        margin-bottom: 10px;
        background: none;
        border-bottom: 2px solid #fff;
    }
    
    #put {
        background: none;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        height: 30px;
        width: 450px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #put::placeholder {
        font-size: 15px;
        padding-left: 10px;
    }
    
    h4 ul li {
        list-style: none;
    }
    
    h3 ol li {
        font-size: 25px;
        margin-top: 20px;
        font-family:Arial ;
    }
    
    textarea {
        background: none;
        border: none;
        border-bottom: 1px solid #08071d;
        outline: none;
        min-width: 600px;
        max-width: 600px;
        min-height: 75px;
        max-height: 75px;
        padding: 10px;
        font-size: 20px;
        font-weight: 200px;
    }
    
    h3 p {
        margin-top: 20px;
        display: inline-block;
        margin-left: 550px;
    }
    
    h5 #identite,
    #naissance {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #date {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #signature {
        min-width: 200px;
        max-width: 200px;
        min-height: 95px;
        max-height: 95px;
        margin-left: 550px;
    }
    
    #maphoto {
        background: transparent;
        float: right;
        height: 290px;
        border: #08071d solid 5px;
        width: 230px;
    }