ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    width:0vmin;
}

li button {
    display:block;
    width: 200px;
    border-radius: 75px;
}
li button:hover{
    background-color:#76ecec;
}
.active {
    background-color: #4b409e;
    color: darkblue;
}
a
{
    text-decoration: none;
}

